{% extends "base.html" %}

{% block content %}

		<center>
			<h2>profile: {{ user.email }}</h2>

			{% if not userinfo %}
				<small>fill in your profile to get started</small>
				<br/>
				<br/>
				{% else %}
					{% if userinfo.avatar %}
						<img src="/avatar" alt="avatar">
						<br/>
						<br/>
					{% endif %}
			{% endif %}
	
			<form action="/profile" enctype="multipart/form-data" method="post">
				{% if not userinfo %}
					<input type="hidden" name="first_login" value="true" />
				{% endif %}
				<table>
					<tr>
						<td align="right">nickname:
						<td><input type="text" name="nickname" value="{{ userinfo.nickname }}" />
					<tr>	
						<td align="right">email address for notifications:
						<td><input type="text" name="email" value="{{ userinfo.email }}" />
					<tr>
						<td align="right">change avatar:
						<td><input type="file" name="avatar">
					{% if userinfo %}
					<tr>
						<td align="right">karma:
						<td>{% firstof userinfo.karma "0" %}
					{% endif %}
					<tr height="70px">
						<td colspan="2" align="middle"><input type="submit" value="update"/>
				</table>

			</form>

		</center>

{% endblock %}
