{% extends "base.html" %}

{% block content %}

		<center>
			<h2>{{ userinfo.nickname }}</h2>

			{% if not userinfo %}
				<small>fill in your profile to get started</small>
				<br/>
				<br/>
				{% else %}
					{% if userinfo.avatar %}
						<img src="/avatar?user={{ userinfo.key }}" alt="avatar">
					{% else %}
						<img src="/static/avatar.jpg" alt="avatar">
					{% endif %}
						<br/>
						<br/>
			{% endif %}
	
				<table>
					<tr>
						<td align="right">last posted:
						<td>{% firstof userinfo.lastposted "never" %}
					<tr>
						<td align="right">karma:
						<td>{% firstof userinfo.karma "0" %}
				</table>

		</center>

{% endblock %}
