{% extends "base.html" %}

{% block content %}

	<a href="/"><img src="static/logo.png" alt="logo" width="280" height="62" /></a>
	
		<table cellspacing="50"><tr><td>
	
			<h3>best restaurant</h3>
			<table style="border: 1px solid lightgray">
			{% for restaurant in karma_ranking %}
				{% if restaurant.karma %}				
					<tr><td><small>{{ forloop.counter }}.</small>
						<td>{{ restaurant.name }}
						<td><small>{{ restaurant.karma }}</small>
				{% endif %}
			{% endfor %}
			</table>
			
		<td>	
			
			<h3>most eaten at</h3>
			<table style="border:1px solid lightgray">
			{% for restaurant in lunchcount_ranking %}
				{% if restaurant.lunchcount %}
					<tr><td><small>{{ forloop.counter }}.</small>
						<td>{{ restaurant.name }}
						<td><small>{{ restaurant.lunchcount }}</small>
				{% endif %}
			{% endfor %}
			</table>

		<td>	
			
			<h3>best picker</h3>
			<table style="border:1px solid lightgray">
			{% for user in best_user %}
				{% if user.karma %}
					<tr><td><small>{{ forloop.counter }}.</small>
						<td>{{ user.nickname }}
						<td><small>{{ user.karma }}</small>
				{% endif %}
			{% endfor %}
			</table>


		<td>	
			
			<h3>fattest user</h3>
			<table style="border:1px solid lightgray">
			{% for user in biggest_eater %}
				{% if user.lunchcount %}
					<tr><td><small>{{ forloop.counter }}.</small>
						<td>{{ user.nickname }}
						<td><small>{{ user.lunchcount }}</small>
				{% endif %}
			{% endfor %}
			</table>
			
		</table>

{% endblock %}
