body {
	font-family: Arial, Helvetica, sans-serif;;
}

#main {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#discussion {
	padding-top: 10px;
}

.notification {
	text-align: center;
	background-color: #F2BB80;
	padding: 5px;
	margin: 5px;
	font-size: 14px
}

.no_suggestions {
	text-align: center;
	color: #aaaaaa;
	padding: 30px;
	border: 1px solid #dddddd;
}

.loading_suggestions {
	opacity: .2;	
}

.suggestion {
	margin: 5px;
	min-width: 400px;
	padding: 5px;
	border: 1px solid #dddddd;
}

.comment {
	padding-left: 40px;
}

.comment_box {
	padding-left: 40px;
}

.comment_timesince {
	color: #888888;
	font-size: 10px;
}

.comment_rating {
	color: #444444;
	font-size: 10px;
}

.comment_author {
	color: #888888;
	font-size: 12px;
}

.separator {
	color: #aaaaaa;
}

img {  
	border-style: none;
}

a {
	color: #242133;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #242133;
}

.login { 
	float: right;
	color: gray;
}

.clear {
	clear: both;
}

#leftcolumn {
	float: left;
}

#rightcolumn {
	float: right;
}

#discussrs {
	padding-top: 10px;
}

#logo {
	/*float: left;*/
}

