/* http://lesscss.org */

body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {  
	border-style: none;
}

@link_color: #242133;

a {
	color: @link_color;
	text-decoration: none;
}

a:visited {
	color: @link_color;
}

a:hover {
	text-decoration: underline;
}

#main {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

img.avatar32 {
	width: 32px;
	height: 32px;
}

img.avatar64 {
	width: 64px;
	height: 64px;
}

img.delete {
	width: 14px;
	height: 14px;
}

img.comment {
	width: 16px;
	height: 16px;
}

img.logo {
	width: 280px;
}

.onerow() {
	display: inline-block;
}
		
#suggestions {
	
	@border_color: #dddddd;
	
	margin-top: 15px;
	
	#none {
		text-align: center;
		color: silver;
		padding: 30px;
		border: 1px solid @border_color;
	}
	
	.suggestion {
		margin: 5px;
		min-width: 400px;
		padding: 5px;
		border: 1px solid @border_color;
		
		.restaurant_name {
			.onerow;
			font-weight: bold;
			font-size: larger;
		}
		
		.user_name {
			.onerow;
			font-size: small;
		}
	}
}

.hlist(@padding: 0px) {
	list-style: none;
	padding-left: @padding;
}

#comments {
	.hlist(30px);
	
	li {
		display: list-item;
		padding: 0;
		margin-bottom: 10px;
		
		&:before {
			content: "";
		}
		
		img {
			padding-right: 10px;
			vertical-align: top;
		}
		
		.author {
			.onerow;
			color: gray;
			font-size: small;
		}
		
		.timesince {
			.onerow;
			color: gray;
			font-size: x-small;
		}
		
		.comment {
			font-size: medium;
			margin-top: 5px;
			display: inline-block;
		}
	}
}

.comment_box {
	padding-left: 40px;
}

#menu {
	.hlist;
	text-align: right;
	
	li {
		display: inline-block;
		padding: 0;
		
		font-size: small;
		
		&:before {
			content: " | ";
	    	color: silver;
		}
		
		&:first-child:before {
		    content: "";
		}
	}
}

#groupname {
	font-size: large;
}

#users {
	padding-top: 20px;
}

#userlist {
	.hlist;
	margin: 0;
	
	li {
		display: inline-block;
		padding: 0;
		margin: 0;
		text-align: center;
		
		.name {
			font-size: small;
		}
		
		.karma {
			font-size: x-small;
		}
	}
	
	.inactive {
		opacity: 0.3;
	}
}

#profileLayout {
	font-family: "Lucida Grande", "Lucida Sans Unicode", 
        Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    width:512px;
    margin-left: auto;
    margin-right: auto;
    
    h1 {
		font-size: 16px;
	}
	
	h2 {
	    font-size: 11px;
	    font-weight: normal;
	    font-style: normal;
	    color:#666666;
	    border-bottom:solid 1px #a1a1a1;
	    padding-bottom:10px;
	}
	
	br {
	    clear: left;
	}
	
	#formLayout {
		label, input {
			display: block;
		    float: left;
		    margin-bottom: 10px;
		}
		
		label, span {
			width: 180px;
    		text-align: right;
    		padding-right: 10px;
		}
		
		input {
			width: auto;
		}
		
		label {
			font-size: 12px;
		}
		
		span {
			color:#666666;
    		display:block;
    		font-size:11px;
    		text-align:right;
		}
		
		#avatar {
			border: solid 2px #a1a1a1;
    		padding: 5px;
    		margin-bottom: 15px;
		}
	}
}

#restaurants {
	.hlist;
	
	li {
		display: inline-block;
		padding: 0;
		white-space:nowrap;
		
		&:before {
			content: "\\";
	    	color: silver;
		}
		
		&:first-child:before {
		    content: "";
		}
	}
}
