body {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {  
	border-style: none;
}

@link_color: #242133;

a {
	color: @link_color;
	text-decoration: none;
}

a:visited {
	color: @link_color;
}

a:hover {
	text-decoration: underline;
}

#main {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

img.avatar32 {
	width: 32px;
	height: 32px;
}

img.delete {
	width: 14px;
	height: 14px;
}

img.comment {
	width: 16px;
	height: 16px;
}

img.logo {
	width: 280px;
}

.onerow() {
	display: inline-block;
}
		
#suggestions {
	
	@border_color: #dddddd;
	
	#none {
		text-align: center;
		color: silver;
		padding: 30px;
		border: 1px solid @border_color;
	}
	
	.suggestion {
		margin: 5px;
		min-width: 400px;
		padding: 5px;
		border: 1px solid @border_color;
		
		.restaurant_name {
			.onerow;
			font-weight: bold;
			font-size: larger;
		}
		
		.user_name {
			.onerow;
			font-size: small;
		}
	}
}

#comments {
	list-style: none;
	padding-left: 30;
	
	li {
		display: list-item;
		padding: 0;
		margin-bottom: 10px;
		
		&:before {
			content: "";
		}
		
		img {
			padding-right: 10px;
			vertical-align: top;
		}
		
		.author {
			.onerow;
			color: gray;
			font-size: small;
		}
		
		.timesince {
			.onerow;
			color: gray;
			font-size: x-small;
		}
		
		.comment {
			font-size: medium;
			margin-top: 5px;
			display: inline-block;
		}
	}
}

.comment_box {
	padding-left: 40px;
}

#menu {
	list-style: none;
	padding: 0;
	text-align: right;
	
	li {
		display: inline-block;
		padding: 0;
		
		font-size: small;
		
		&:before {
			content: " | ";
	    	color: silver;
		}
		
		&:first-child:before {
		    content: "";
		}
	}
}

#groupname {
	font-size: large;
}

#users {
	padding-top: 20px;
}

#userlist {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		display: inline-block;
		padding: 0;
		margin: 0;
		text-align: center;
		
		.name {
			font-size: small;
		}
		
		.karma {
			font-size: x-small;
		}
	}
	
	.inactive {
		opacity: 0.3;
	}
}

#restaurants {
	list-style: none;
	padding: 0;
	
	li {
		display: inline-block;
		padding: 0;
		
		&:before {
			content: "\\";
	    	color: silver;
		}
		
		&:first-child:before {
		    content: "";
		}
	}	
}
