body {
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#discussion {
	padding-top: 10px;
}

.notification {
	text-align: center;
	background-color: #FFEF92;
	padding: 5px;
	margin: 5px;
	font-size: 14px
}

.no_suggestions {
	text-align: center;
	color: #aaaaaa;
	padding: 30px;
	border: 1px solid #dddddd;
}

.loading_suggestions {
	opacity: .2;	
}

.suggestion {
	margin: 5px;
	min-width: 400px;
	padding: 5px;
	border: 1px solid #dddddd;
}

.comment {
	padding-left: 40px;
}

.comment_box {
	padding-left: 40px;
}

.comment_timesince {
	color: #888888;
	font-size: 10px;
}

.comment_rating {
	color: #444444;
	font-size: 10px;
}

.comment_author {
	color: #888888;
	font-size: 12px;
}

img {  
	border-style: none;
}

a {
	color: #242133;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #242133;
}

.login { 
	float: right;
	color: gray;
}

.clear {
	clear: both;
}

#leftcolumn {
	float: left;
}

#rightcolumn {
	float: right;
}

#discussrs {
	padding-top: 10px;
}

#logo {
	/*float: left;*/
}

.karma {
	font-size: 11px;
	opacity: 0.5;	
}

.profileLayout {
    font-family: "Lucida Grande", "Lucida Sans Unicode", 
        Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    width:512px;
    margin-left: auto;
    margin-right: auto;
}

.profileLayout h1 {
    font-size: 16px;
}

.profileLayout h2 {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color:#666666;
    border-bottom:solid 1px #a1a1a1;
    padding-bottom:10px;
}

.profileLayout br {
    clear: left;
}

.formLayout label, .formLayout input {
    display: block;
    float: left;
    margin-bottom: 10px;
}

.formLayout label, .formLayout span {
    width: 180px;
    text-align: right;
    padding-right: 10px;
}

.formLayout input {
    width: auto;
}

.formLayout label {
    font-size: 12px;
}

.formLayout span {
    color:#666666;
    display:block;
    font-size:11px;
    text-align:right;
}

.formLayout #avatar {
    border: solid 2px #a1a1a1;
    padding: 5px;
    margin-bottom: 15px;
}

#restaurants {
    list-style: none;
    padding: 0;
    margin: 0;
}

#restaurants li {
    display: inline;
    padding: 0;
    margin: 0;
}

#restaurants li:before {
    content: "\\";
    color: #aaaaaa;
}

#restaurants li:first-child:before {
    content: "";
    color: #aaaaaa;
}
