<html>
	<head>
		<title>lunch discussion!</title>
		<script type="text/javascript" src="static/prototype.js"></script>
		<script type="text/javascript" src="static/scriptaculous.js?load=effects"></script>
		<script type="text/javascript" src="static/lightwindow.js"></script>
		<link href="static/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/lightwindow.css" type="text/css" media="screen" />
	</head>
	<body>
		{% block content %}{% endblock %}

	</body>
</html>
