<html>
	<head>
		<title>lunch discussion!</title>
		
		<link rel="stylesheet/less" type="text/css" href="/static/style.less"/>
		<script type="text/javascript" src="/static/less.js"></script>
	    
	    
		<script type="text/javascript" src="/static/prototype.js"></script>
		<script type="text/javascript" src="/static/scriptaculous.js?load=effects"></script>
		
		<script type="text/javascript" src="/static/lightwindow.js"></script>
		<link rel="stylesheet" href="/static/lightwindow.css" type="text/css" media="screen" />
        
        {% comment %}
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
		{% endcomment %}
		
		{% block extrahead %}{% endblock %}
	
	</head>
	<body>
	
		{% block content %}{% endblock %}

	</body>
</html>
