{% extends "header.html" %}

{% block main %}

	<h2>create lunchdiscussion group</h2>

	<i>{{ group_shortname }}</i> is available! One more step:
	<br/><br/>
	
	<form action="/signup" method="post">
		<input type="hidden" name="group_shortname" value="{{ group_shortname }}">
		
		Group full name: <input type="text" name="group_fullname" size="50">
		
		<br/><br/>
		Start inviting people to your group:
			<ul>
			<li>email 1: <input type="text" name="invite1">
			<li>email 2: <input type="text" name="invite2">
			</ul>
			
		<input type="submit" value="create group"/>
	
	</form> 

{% endblock %}