{% extends "header.html" %}

{% block main %}
    <div class="profileLayout">
        <div class="formLayout">
            <h1>My Profile</h1>
            <h2>Your <a href="http://www.lunchdiscussion.com">lunchdiscussion.com</a> Profile</h2>
            <form action="/profile" enctype="multipart/form-data" method="post">
                {% if not userinfo %}
    				<input type="hidden" name="first_login" value="true" />
    			{% endif %}
			
    			<label>&nbsp;</label>
    			{% if not userinfo %}
        			<small>fill in your profile to get started</small>
        		{% else %}{% if userinfo.avatar %}
        		    <img id="avatar" src="/avatar" alt="avatar">
        		{% else %}
        		    <img id="avatar" src="/images/avatar.png" alt="avatar">
        		{% endif %}{% endif %}
        		<br>
    		
                <label>Account
                <span>Your Account</span></label>
                {{ user.email }}<br>
            
                <label>Nickname
                <span>Your Nickname</span></label>
                <input type="text" name="nickname" value="{{ userinfo.nickname }}"/><br>
            
                <label>Notifications
                <span>Your Email for Notifications</span></label>
                <input type="text" name="email" value="{{ userinfo.email }}"/><br>
            
                <label>Avatar
                <span>Choose your Avatar</span></label>
                <input type="file" name="avatar"/><br>
            
                {% if userinfo %}
    			    <label>Karma
    			    <span>Your Karma</span>
    			    </label>{% firstof userinfo.karma "0" %}<br>
    			{% endif %}
			
    			<label>&nbsp;</label>
    			<input type="submit" value="Update"/><br>
            </form>
        </div>
        {% if userinfo %}
        <br>
        <div>
            <h1>My Groups</h1>
            <h2>Your lunch Groups</h2>
            <ul>
            {% for group in currentuser.grouprefs %}
                <li><a href="/{{ group.groupname }}">{{ group.groupname }}</a>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
