{% extends "base.html" %}

{% block content %}

		<div id="main">
		
			

            <ul class="menu">
                {% block extramenu %}{% endblock %}	
				{% if logout_url %}
					<li><a href="{{ logout_url }}">logout</a></li>
				{% endif %}
            </ul>
            
			<div id="logo">
				<a href="/" alt="home"><img src="/images/ld.png" alt="logo" width="280" /></a>
			</div>
		
			{% block notification %}
				{% if notification %}
					<div class="notification">
						{{ notification }}
					</div>
				{% endif %}
			{% endblock %}
		
			{% block main %}{% endblock %}
		
		</div>

{% endblock %}