{% extends "header.html" %}

{% block extrahead %}
    <script type="text/javascript" src="/static/index.js"></script>

    {% if ask_to_rate %}
        <script type="text/javascript">
            Event.observe(window, "load", function() {
                showRatingPopup();
            });
        </script>
    {% endif %}   
{% endblock %}

{% block extramenu %}
<li><a href="/{{ currentgroup.shortname }}/invite">invite</a></li>
<li><a href="/{{ currentgroup.shortname }}/stats">stats</a></li>
<li><a href="/profile">my profile</a></li>
{% if admin %}
<li><a href="/{{currentgroup.shortname}}/admin">admin</a></li>
{% endif %}      
{% endblock %}

{% block main %}

<div id="groupname">{{ currentgroup.fullname }}</div>

<div id="users">
    <ul id="userlist">
    {% for member in active_crew %}
    <li>
        <a href={% ifnotequal member.user currentuser.user %} "javascript:showProfilePopup('{{ member.key }}')" {% else %} "/profile" {% endifnotequal %}>
            <img class="avatar32" src="/avatar?user={{ member.key }}"/>
        </a>
        <div class="name">{{ member.nickname }}</div>
        <div class="karma">{{ member.karma|default:"0" }}</div>
    </li>
    {% endfor %}

    {% for member in dead_crew %}
    <li class="inactive">
        <a href={% ifnotequal member.user currentuser.user %} "javascript:showProfilePopup('{{ member.key }}')" {% else %} "/profile" {% endifnotequal %}>
            <img class="avatar32" src="/avatar?user={{ member.key }}"/>
        </a>
        <div class="name">{{ member.nickname }}</div>
        <div class="karma">{{ member.karma|default:"0" }}</div>
    </li>
    {% endfor %}
    </ul>
</div>

{% include "suggestions.html" %}
{% include "restaurants.html" %} 

{% endblock %}
