{% extends "base.html" %}

{% block onload %}{% endblock %}

{% block content %}

		<script type="text/javascript" src="static/main.js"></script>

		<div id="main">

			<div class="login">
				<small><a href="/profile">{{ userinfo.nickname }}</a> | 
				<a href="/stats">stats</a> |
				<a href="{{ logout_url }}">logout</a>	
				</small></div>

			<div id="logo">
				<img src="static/logo.png" alt="logo" width="280" height="62" /><br/><img src="images/rog.jpg" height="300" alt="rog"/>
			</div>

			<div id="discussrs">
				<table style="text-align: center"><tr>
						{% for member in active_crew %}
						<td>
							{% ifnotequal member.user userinfo.user %}
								<a href="javascript:showProfilePopup('{{ member.key }}')">
							{% else %}
								<a href="/profile">
							{% endifnotequal %}
							{% if member.avatar %}
								<img src="/avatar?user={{ member.key }}" alt="avatar" height="32"/>{% else %}
								<img src="/static/avatar.jpg" alt="avatar" height="32"/>{% endif %}</a>
							<br/>
							<small>{{ member.nickname }}</small>
							</td>
						{% endfor %}
						{% for member in dead_crew %}
						<td style="opacity: 0.3">
							{% ifnotequal member.user userinfo.user %}
								<a href="javascript:showProfilePopup('{{ member.key }}')">
							{% else %}
								<a href="/profile">
							{% endifnotequal %}
							{% if member.avatar %}
								<img src="/avatar?user={{ member.key }}" alt="avatar" height="32"/>{% else %}
								<img src="/static/avatar.jpg" alt="avatar" height="32"/>{% endif %}</a>
							<br/>
							<small>{{ member.nickname }}</small>
							</td>
						{% endfor %}					
				</tr></table>	
			</div>

			{% if ask_to_rate %}
				<div id="notification">
					<a href="#" onclick="showRatingPopup()">Did you go to lunch yesterday? Click here to rate!</a>
				</div>
			{% endif %}

			<div id="discussion" class="clear"/> 
				
				<div id="suggestions">
					{% include "suggestions.html" %}	
				</div> <br/>

				<span id="restaurants">
					{% include "restaurants.html" %}	
				</span>
				
				<input type="text" id="restaurant_name" />
				<input type="button" value="add" onclick="javascript:addRestaurant()" />

			</div>


		</div>

{% endblock %}
