{% extends "base.html" %}

{% block content %}
		<script type="text/javascript" src="/static/index.js"></script>

		<script type="text/javascript">		
			function verify() {
				suggestion = $RF('form', 'restaurant');

				if (suggestion == null) {
					alert('Please specify a restaurant');
					return false;
				}
				return true;
			}
		
			function submitClick() {
				if (!verify()) return;
				document.forms.form.submit();
			}
			
			function cancelClick() {
				document.forms.form.cancel.value = "true";
				document.forms.form.submit();
			}
		</script>

		<center>
		<h3>where did you eat {{ day_title }}?</h3>
		
		<form id="form" action="/rate" method="post" onSubmit="return verify()">
		<table><tr><td>
		{% for res in restaurants %}
			<input type="radio" name="restaurant" value="{{ res.key }}" /> 
			{{ res.name }}
			<br />
		{% endfor %}
		
		{% if other_restaurants %}
			<input type="radio" name="restaurant" value="other" />
			Other
			<select name="others">
				{% for res in other_restaurants %}
					<option value="{{ res.key }}">{{ res.name }}</option>
				{% endfor %}
			</select>
		{% endif %}
		
		</table>

		<h3>how was it?</h3>

		<input type="radio" name="rating" value="-2" /> very bad
		<input type="radio" name="rating" value="-1" /> bad
		<input type="radio" name="rating" value="0" checked /> okay
		<input type="radio" name="rating" value="1" /> good
		<input type="radio" name="rating" value="2" /> FTW!!
		<br/><br/>

		comment ? what did you get?<br/><textarea name="comment" rows="4" cols="50"></textarea>
		<br/><br/>

		<input type="hidden" name="cancel" value="false" />
		<input type="hidden" name="day" value="{{ day }}" />
		<input type="button" value="didn't eat" onclick="cancelClick()"/>
		<input type="button" value="submit" onclick="submitClick()"/>

		</form>
		

		</center>

{% endblock %}