{% if restaurants %}
    <ul id="restaurants">
    {% for restaurant in restaurants %}
        <li>
        <a href="javascript:newSuggestion('{{ restaurant.key }}')">{{ restaurant.name }}</a>
        {% if restaurant.has_comments %}
            <a href="javascript:showRestaurantPopup('{{ restaurant.key }}')">
            	<img class="comment" src="/images/comment.png"/>
            </a>
        {% endif %}
        </li>
    {% endfor %}
        <li>
            <input type="text" id="restaurant_name" />
            <input type="button" value="add" onclick="javascript:addRestaurant()" />
        </li>
    </ul>
{% endif %}