	{% for sug in suggestions %}
		<div class="suggestion">
	
			<b>
			{% if sug.restaurant.has_comments %}
				<a href="javascript:showRestaurantPopup('{{ sug.restaurant.key }}')">{{ sug.restaurant.name }}</a>
			{% else %}
				{{ sug.restaurant.name }}
			{% endif %}
			</b>
			<small>by {{ sug.author.nickname }}
		
			<a id="comment_button{{ forloop.counter }}" href="#"
				onclick="$('comment_box{{ forloop.counter }}').show(); return false;">
				<img src="images/comment.png" alt="comment" width="16" height="16" /></a>
			{% ifequal sug.author.user userinfo.user %}
			<a href="#" onclick="removeSuggestion('{{ sug.key }}')">
				<img src="images/delete.png" alt="delte" width="14" height="14"/>
			</a>
			{% endifequal %}

			</small>
		
			{% for comment in sug.ordered_comments %}
			<div class="comment">
				<table><tr>
						{% if comment.author.avatar %}
							<td><img src="/avatar?user={{ comment.author.key }}" width="32"></td>
						{% else %}
							<td><img src="/static/avatar.jpg" width="32"></td>					
						{% endif %}
						<td>
							<span class="comment_author">{{ comment.author.nickname }}</span> 
							<span class="comment_timesince">{{ comment.date|timesince }} ago</span>
							<div class="comment_text">{{ comment.text }}
							{% ifequal comment.author.user userinfo.user %}
								<a href="#" onclick="removeComment('{{ comment.key }} ')">
									<img src="images/delete.png" alt="delete" width="12" height="12"/>
								</a>
							{% endifequal %}
							</div>
						</td>
				</tr></table>
			</div>
			{% endfor %}
		
			<div class="comment_box" style="display: none"
				id="comment_box{{ forloop.counter }}">
				<textarea cols="60" rows="6" id="comment_text{{ forloop.counter }}"></textarea>
				<br/>
				<input type="button" value="add comment" 
				onclick="newComment('{{ sug.key }}', $F('comment_text{{ forloop.counter}}'))" />
			</div>
		</div>
	{% endfor %}
