<div id="suggestions">
	{% ifequal suggestions.count 0 %}

	<div id="none">No suggestions have been made yet. Click on a restaurant below to make one.</div>

	{% else %}
		{% for sug in suggestions %}
			<div class="suggestion">
			    <div class="title">
			        <div class="restaurant_name">
    		        {% if sug.restaurant.has_comments %}
    					<a href="javascript:showRestaurantPopup('{{ sug.restaurant.key }}')">{{ sug.restaurant.name }}</a>
    				{% else %}
    					{{ sug.restaurant.name }}
    				{% endif %}
    				</div>
    				<div class="user_name">by {{ sug.author.nickname }} 
    				    <a id="comment_button{{ forloop.counter }}" href="#"
        					    onclick="$('comment_box{{ forloop.counter }}').show(); return false;">
        					<img class="comment" src="/images/comment.png"/></a>
        				{% ifequal sug.author.user currentuser.user %}
        				<a href="#" onclick="removeSuggestion('{{ sug.key }}')">
        					<img class="delete" src="/images/delete.png"/></a>
        				{% endifequal %}
    				</div>
				</div>
                
			    <ul id="comments">
				{% for comment in sug.ordered_comments %}
				    <li>
    					<img class="avatar32" src="/avatar?user={{ comment.author.key }}"/>
    					<div class="comment">
                            <div>
                                <div class="author">{{ comment.author.nickname }}</div>
                                <div class="timesince">{{ comment.date|timesince }} ago</div>
                            </div>
                            <div class="comment">{{ comment.text }}
        					{% ifequal comment.author.user currentuser.user %}
        					<a href="#" onclick="removeComment('{{ comment.key }}')">
    							<img class="delete" src="/images/delete.png"/>
    						</a>
        					{% endifequal %}
        					</div>
        				</div>
    				</li>
				{% endfor %}
			    </ul>
			    
				<div class="comment_box" style="display: none;" id="comment_box{{ forloop.counter }}">
					<textarea cols="60" rows="6" id="comment_text{{ forloop.counter }}"></textarea>
					<br/>
					<input type="button" value="add comment" 
					onclick="newComment('{{ sug.key }}', $F('comment_text{{ forloop.counter}}'))" />
				</div>
			</div>
		{% endfor %}
	{% endifequal %}
</div>
